.ewc-menu-item {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
}

.ewc-menu-item:hover {
  background-color: rgb(250, 250, 250); /* Slightly lighter shade */
}

.ewc-menu-item .ewc-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ewc-dropdown-item {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ewc-dropdown-item:hover {
  background-color: #e4e4e4 !important;
}

.ewc-menu-item:hover .ewc-dropdown {
  display: block;
}
