.ewc-textArea:focus {
  outline: none;
  border: none;
}

.ewc-textArea:active {
  outline: none;
  border: none;
}

.ewc-textArea::-webkit-scrollbar-thumb {
  background: transparent;
}

.ewc-textArea::-webkit-scrollbar-track {
  background: transparent;
}

.ewc-textArea {
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
}
