* {
  margin: 0;
  padding: 0;
}



input[type='number'] {
  text-align: right;
}

select::after {
  content: '\25BC';
}

.split-sash-content.split-sash-content-vscode.split-sash-content-active {
  background-color: #f0f0f0;
}
